<footer>
    <div class="in_footer">
        <div class="box">
            <ul data-aos="flip-right">
                <a target="_blank" href="https://www.facebook.com/mourad.benamar.940"><li><i  class="fa fa-facebook-square fa-2x"></i></li></a>
                <a  target="_blank" href="https://www.instagram.com/mourad_ben_ammar/"><li><i class="fa fa-instagram fa-2x"></i></li></a>
                <a target="_blank" href="https://github.com/Mourad-21"><li><i class="fa fa-github-square fa-2x"></i></li></a>
                <a target="_blank" href="https://discord.gg/4kPZm3kv"><li>
                  <i class="fab fa-discord fa-2x"></i> 
                </li></a>
                <a target="_blank" href="https://www.linkedin.com/in/mourad-ben-ammar-942715217"><li><i class="fa fa-linkedin fa-2x"></i></li></a>
            </ul>
                </div>
          <div class="box" >
            <ul >
                <a style="cursor: pointer;" ><li>Home</li></a>
                <a style="cursor: pointer;" ><li>About</li></a>
                <a style="cursor: pointer;" ><li>Works</li></a>
                <a style="cursor: pointer;" ><li>Skills</li></a>
                <a style="cursor: pointer;" ><li>Contact</li></a>
            </ul>
          </div>
          <div class="box" >
              <p>Created By <span>Mourad <i style="color: rgb(248, 24, 99);" class="fa fa-heart"></i> </span>  |&copy;2021 All Rights Reserved</p>
            </div>
        </div>
</footer>