<div class="content2" >
<div class="about_content">
    <div   class="about">
        <div  class="box">
            <h4>About me</h4><p>I'm Frontend Developer</p>
        </div>
        <div    class="box"><p>
Multilingual Frontend Developer skilled at creating a unique customer experience that highlights brand messaging .
Maintains up to date awareness of technological trends and technological advances .
Able to facilitate translation of customer vision into a functional web experience that engages customers and improves the bottom line.  
Objective  To work in an environment which encourages me to succeed and grow professionally where I can utilize my skills and knowledge appropriately.

</div>
        <div class="box_button"><a href="../../assets/Images/cv.pdf" download>
        	Download CV 
        &nbsp;<i class="fas fa-file-download"></i> </a>
    </div>
    </div>
</div>
</div>
