<div class="contact">
   <div class="in_contact">
      <div id="back" data-aos="zoom-in" class="box">
         <h2>Contact</h2>
     </div>
      <div class="box">
        <form name="f" class="gform pure-form pure-form-stacked" method="POST" data-email="benammarmourad2021@gmail.com" action="https://script.google.com/macros/s/AKfycbyCmWlRd-4klzKsqXq8o5vHMb94wAOMATBsH6DhuD-gfUo4ZTZqmpxvm22I_27cpeQ2qA/exec">
         <div data-aos="zoom-out" class="in_box">
            <p id="pag1">Name&nbsp;&nbsp;</p>
            <input  id="in1" (keyup)="elm($event)" name="name" (focus)="on()" (blur)="of()" required type="text">
            <p id="pag2" class="p2">Email&nbsp;&nbsp;</p>
            <input id="in2" name="email" (focus)="ong()" (blur)="ofg()" required type="email">
         </div>
         <div data-aos="flip-up" class="in_box">
          <p  >Message</p>
          <textarea name="message" required></textarea>
         </div>
         <div data-aos="zoom-in" class="in_box">
         <button>Send</button>
         </div>
         <div id="msg" class="thankyou_message" ><br><br>
                 <div class="inmsg">
                    <h2 style="color:  rgb(255, 255, 255);text-transform: capitalize;">{{name}} <i style="color: rgb(248, 24, 99);" class="fa fa-heart"></i></h2>
                  <h1>Thanks for contacting Me!</h1>
                  <h1> I wish you success</h1>
                   <h3 id="myN">With My Love <span style="color:  rgb(255, 255, 255);">Mourad <i style="color: rgb(248, 24, 99);" class="fa fa-heart"></i></span></h3>
                 </div>
          </div>
        </form>
      </div>
   </div>
</div>