<div class="skills" id="skills" onscroll="scrll()">
    <div class="skills_content">
        <div data-aos="zoom-in"  class="box">
            <h2>skills</h2>
        </div>
       
        <div class="box">
            <div  class="in_box reveal">
                      <section  data-aos="fade-up">
                        <div class="circle-wrap1">
                          <div class="circle"> 
                            <div class="mask full">
                              <div class="fill"></div>
                            </div>
                            <div class="mask half">
                              <div class="fill"></div>
                            </div>
                            <div class="inside-circle"> 70%  <br><span >HTML</span></div>
                          </div>
                        </div>
                       
                      </section>
            </div>
            <div  class="in_box reveal">
                      <section data-aos="fade-right" >
                        <div class="circle-wrap2">
                          <div class="circle">
                            <div class="mask full">
                              <div class="fill"></div>
                            </div>
                            <div class="mask half">
                              <div class="fill"></div>
                            </div>
                            <div class="inside-circle"> 50% <br><span >CSS</span></div>
                          </div>
                        </div>
                      </section>  
            </div>
            <div  class="in_box reveal">
                      <section data-aos="fade-up">
                        <div class="circle-wrap3">
                          <div class="circle">
                            <div class="mask full">
                              <div class="fill"></div>
                            </div>
                            <div class="mask half">
                              <div class="fill"></div>
                            </div>
                            <div class="inside-circle"> 60%  <br><span >JS</span></div>
                          </div>
                        </div>
                      </section>  
                
            </div>
        </div>
        
        <div class="container">
            <ul>
              <div class="reveal"> 
              <li  data-aos="flip-right" class="html"><i class="fab fa-angular "></i> Angular </li>
              </div>
              <div class="reveal"> 
                <li data-aos="fade-right" class="css"><i class="fab fa-react "></i> React Js</li>
              </div>
                <div class="reveal"> 
                <li  data-aos="zoom-in" class="js"><i class="fab fa-python "></i> Python</li>
              </div>
               <!-- <li class="ng">Angular</li>-->
            </ul>
        </div>
        <div data-aos="zoom-in" class="newcont">
          <i class="fab fa-java fa-5x"></i>
          <i class="fab fa-cuttlefish fa-5x"></i>
          <i class="fab fa-node fa-5x"></i>
        </div>
    </div>
    
</div>

