<div class="back">
    <p>  </p>
    <h3 class="ga">G<span style="color: rgb(248, 24, 99)">A</span>M<span style="color: rgb(248, 24, 99)">E</span>S</h3>
<div class="lien">
        <h4 class="ho" style="cursor: pointer;"  routerLink="/home">Home</h4>
    <h4 class="ho" style="cursor: pointer;" (click)="helpme()" >Help </h4>
</div>
</div>
 <input id="hp" type="checkbox">    
    <div class="help">
  <p style="color: black">Click on each game image you wish to play</p>

</div>
<div  class="works">
    <div   class="works_container">
        <div data-aos="flip-up" class="box">
            <div class="in_box"><h3>Check out last Games</h3></div>
        </div>    
        <div class="box" >
            <div data-aos="fade-up" class="in_box">
               <a href="../../assets/works/Games/Pong Hau k'i.html"> <img width="150px" alt="pro1" class="m1" src="../../assets/Images/pong.png"></a>
                <h4>Pong Hau k'i</h4>
                <p>This game was created by <br>using Java Script</p>
            </div>
            <div data-aos="fade-down" class="in_box">
                <a href="../../assets/works/Games/Memory Card.html"><img width="150px" alt="pro2" class="m2" src="../../assets/Images/memory.jpg"></a>
                <h4>Memory Card</h4>
                <p>This game was created by <br>using Java Script</p>
            </div>
            <div data-aos="fade-up" class="in_box">
               <a href="../../assets/works/Games/snake.html">
                    <img  width="150px" alt="pro3" class="m3" src="../../assets/Images/snake.jpg">
               </a>
                <h4>Snake</h4>
               <p>This game was created by <br>using Java Script</p>
            </div>
            <div  data-aos="fade-down" class="in_box">
                <a href="../../assets/works/Games/Tic Tac Teo.html">
                    <img width="150px" alt="pro4" class="m4" src="../../assets/Images/tic tac.png">
                </a>
                <h4>tic tac teo</h4>
                <p>This game was created by <br>using Java Script</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>