<div  class="works">
    <div   class="works_container">
        <div data-aos="flip-up" class="box">
            <div class="in_box"><h3>Check out last Projects</h3></div>   
        <div class="box" >
            <div data-aos="fade-up" class="in_box">
                <a href="../../assets/works/web1/index.html"><img width="160px" height="180px" alt="pro1" class="m1"  src="../../assets/Images/web1.PNG"></a>
                <h4 >Fylo</h4>
                <p>This design was <br> imported from <br>  <label style="color: rgb(248, 24, 99)">Frontend Mentor</label></p>
            </div>
            <div data-aos="fade-down" class="in_box">
             <a href="../../assets/works/web2/index.html">
                    <img width="160px" height="180px" alt="pro2" class="m2" src="../../assets/Images/web2.PNG">
             </a>
                <h4>Easy bank</h4>
               <p>This design was <br> imported from <br> <label style="color: rgb(248, 24, 99)">Frontend Mentor</label></p>
            </div>
            <div data-aos="fade-up" class="in_box">
               <a href="../../assets/works/web3/index.html">
                    <img  width="160px" height="180px"  alt="pro3" class="m3" src="../../assets/Images/web3.PNG">
               </a>
                <h4>Loop Studio</h4>
              <p>This design was <br> imported from <br> <label style="color: rgb(248, 24, 99)">Frontend Mentor</label></p>
            </div>
            <div  data-aos="fade-down" class="in_box">
                <a href="../../assets/works/web4/index.html">
                    <img width="160px" height="180px" alt="pro4" class="m4" src="../../assets/Images/web4.PNG">
                </a>
                <h4>Sanny Side</h4>
           <p>   This design was <br> imported from <br><label style="color: rgb(248, 24, 99)">Frontend Mentor</label></p>
            </div>
        </div>
    </div>
</div>
